.heead {
    background-color: hwb(244 68% 2%);
    color: lab(0.98% 3.61 -2.58);
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}

.bu {
    background-color: hwb(244 68% 2%) ;
    color: #01070c;
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}

.index-board {
   max-width: 777px;
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid plum;    
}

.play-all {
    background-color: hwb(244 68% 2%);
    color: rgb(0, 1, 1);
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}

.case-all {
    background-color: hwb(244 68% 2%) ;
    color: #000305;
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}

.mobile-all {
    background-color: hwb(244 68% 2%) ;
    color: rgb(4, 9, 13);
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}

.nout-all {
    background-color: hwb(244 68% 2%) ;
    color: rgb(2, 5, 8);
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}

.tv {
    background-color: hwb(244 68% 2%);
    color: rgb(1, 4, 7);
    font-family: "Edu NSN ACT Cursive";
    font-weight: bold;
    font-style: normal;
}